.view {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
  margin-bottom: 3rem;
}

.viewWrapper{
  width: 100%;
  max-width: 54rem;
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.pageHeading{
  width: 100%;
  text-align: center;
  composes: h2 from 'sharedStyles/styles.css';
  margin-bottom: 2em;
}

.labelHeader{
  box-sizing:border-box;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  color: #E0E0E0;
  height: 2.5rem;
  padding-left: 1em;
  padding-right: 1em;

}

.labelHeading{
  width: 25%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hiddenSpacer{
  opacity: 0;
  cursor: default;
  width: 10%;
}

.categoryElement{
  box-sizing:border-box;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  height: 2.5rem;
  margin-bottom: 1em;
  padding-left: 1rem;
  padding-right: 1rem;
}

.createNew{
  transition: .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  border-radius: 5px;
  height: 2.5rem;
  text-decoration: none;
  composes: whiteText brandPrimaryBackground from 'sharedStyles/color.css';
}

.createNew:hover{
  cursor: pointer;
}

.categoryName{
  width: 25%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vRule{
  height: 2.5em;
  width: 1px;
  background-color: #E0E0E0;
}

.edit{
  color: #5b5b82;
  text-align: center;
  width: 10%;
}

.team{
  width: 100%;
}
