.viewFooter{
  composes: whiteText sub from 'sharedStyles/color.css';
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  padding-bottom: 2.25rem;
}

.light{
  composes: darkGrey from 'sharedStyles/color.css';
  display: none;
  visibility: hidden;
  height: 0px !important;
}

.copyright{
  composes: p from 'sharedStyles/styles.css';
}

.footerLinkWrapper{
  display: flex;
  flex-direction: row-reverse;
}

.footerLink{
  padding-right: 1rem;
}

.footerLink:hover{
  opacity: .7;
  cursor: pointer;
}
