.loginWrapper{
  margin-top: -5%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color:white;
}

.loginHeader{
  composes: h2 from 'sharedStyles/styles.css';
  color: white;
  font-weight: 500;
  margin-bottom: 20px;
}
