.label{
  position: relative;
}

.formTitles{
  color: #BDBDBD;
  font-weight: 600;
}

.heading{
  margin-bottom: .5em;
  color: black;
}

.default{
  box-sizing:border-box;
  padding: 10px;
  margin-bottom: 1.4em;
  height: 2.5rem;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 1px solid #E0E0E0;
  composes: h3 from './styles.css';
}

.formErrorIsVisible{
  display: block;
  position: relative;
  color: #EB7150;
  font-size: 14px;
  height:0px;
  top: -1.1rem;
}

/*Wrapper for full width input, note: width is determined by container*/
.inputWrapperFull{
  width: 100%;
  margin-bottom: 1em;
  /*position: relative;*/
  box-sizing:border-box;
}

.inputWrapperHalf{
  width: 50%;
  margin-bottom: 1em;
  position: relative;
  box-sizing:border-box;
}

.default:hover{
  border: 1px solid silver;
  transition: .2s;
}

.default:focus{
  outline: none;
  border: 1px solid #5b5b82;
}

.invalidInput{
  box-sizing:border-box;
  background-color: #fff6f4;
  border: 1px solid #EB7150;
}

.invalidInput:hover{
  background-color: #fff6f4;
  border: 1px solid #EB7150;
}

.invalidInput:focus{
background-color: #fff6f4;
border: 1px solid #EB7150;
}

.textArea{
  composes: default;
  height: auto;
  min-height: 300px;
}

.textAreaSmall{
  composes: default;
  height: auto;
  min-height: 150px;
}

.checkbox{
  transition: .2s;
  outline: none;
  -webkit-appearance: none;
  border: 1px solid #E0E0E0;
  padding: .6rem;
  margin-right: 1rem;
  border-radius: 2px;
  display: inline-block;
  position: relative;
}

.checkbox:active, .checkbox:checked:active {
  outline: none;
}

.checkbox:checked {
  transition: .2s;
  background: url('/public/checkmark.svg') no-repeat 1px 0;
  background-size: 18px 18px;
	background-color: #5b5b82;
	border: 1px solid #5b5b82;
	color: white;
  outline: none;
}

.checkbox:checked:after {
	font-size: 2rem;
	position: absolute;
	bottom: -4px;
	left: 5px;
	color: white;
}

.errorOn{
  opacity: 1.0;
  color: #EB7150;
  font-size: 14px;
}

.errorOff{
  opacity: 0.0;
}

.submitButton{
  transition: .2s;
  font-size: 16px;
  font-weight: 600;

  padding: 1em;
  margin-left: 1em;
  width: 150px;

  border-radius: 5px;
  border: none;
  /*margin-top: .75em;*/

  composes: whiteText brandPrimaryBackground from 'sharedStyles/color.css';
  outline: none;
}

.submitButton:hover{
  outline: none;
  background-color: #2D2C3F;
  cursor: pointer;
  transition: .1s;
}

.submitButtonError{
  transition: .2s;
  font-size: 16px;
  font-weight: 600;

  padding: 1em;
  margin-left: 1em;
  width: 150px;

  border-radius: 5px;
  border: none;
  /*margin-top: .75em;*/

  composes: whiteText errorBackground from 'sharedStyles/color.css';
  outline: none;
}

.loginButtonError:focus{
  outline: none;
}

.submitButtonPending{
  transition: .2s;
  font-size: 16px;
  font-weight: 600;

  padding: 1em;
  margin-left: 1em;
  width: 150px;

  border-radius: 5px;
  border: none;
  /*margin-top: .75em;*/

  composes: whiteText pendingBackground from 'sharedStyles/color.css';
  outline: none;
}


.mediumButtonDelete{
  transition: .2s;
  font-size: 16px;
  font-weight: 600;

  height: 3rem;
  margin-left: 1em;
  width: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  border: none;
  /*margin-top: .75em;*/

  composes: whiteText errorBackground from 'sharedStyles/color.css';
  outline: none;
}

.mediumButtonDelete:hover{
  background-color: #e85933;
    cursor: pointer;
}
