.wrapperLight{
  /*composes: wrapper;*/
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
}

.wrapperDark{
  /*composes: wrapper;*/
  display: flex;
  height: 100%;
  max-height: 100vh;
  min-height: 100vh;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background-color: #232242;
  background-image: url('/public/bgMain.png');
  background-size: stretch;
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  transition: background-color 0.1s ease;
}

.mainWrapper{
  /*width: 100%;
  overflow-y: none;
  flex: 1;*/
  /*height: auto;*/
  /*max-height: 100%;
  min-height: 100%;*/
  flex-direction: column;
  display: flex;
  /*margin-bottom: 3rem;*/
}
