.viewHeader {
  composes: whiteText from 'sharedStyles/color.css';
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding-left: 2rem;
  padding-right: 1rem;
  /*width:100%;*/
}

.viewHeader a{
  color: white;
}

.light{
  composes: darkGrey from 'sharedStyles/color.css';
  border-bottom: 1px solid #f1f1f1;
}

.light a{
  color: rgba(0,0,0,.9);
}

.productHeading{
  font-size: 24px;
  font-weight: 600;
}

.productHeading a{
  text-decoration: none;
}

.productHeading a:hover{
  opacity: .7;
}

.headerLinkWrapper{
  display: flex;
  flex-direction: row-reverse;
  padding-top: 20px;  
}

.headerLink{
  padding-right: 1rem;
}

.headerLink:hover{
  opacity: .7;
  cursor: pointer;
}

.headerText{
  color: #BBB;
  padding-right: 1rem;
}

.headerText:hover{
  cursor: default;
}

img{
  width: 144px;
}
