.view {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  align-items: center;
  margin-bottom: 3rem;
}

.viewWrapper{
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.pageHeading{
  width: 100%;
  margin-bottom: 3rem;
  text-align: center;
  composes: h2 from 'sharedStyles/styles.css';
}

.dashButtonWrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.columnTitle{
  margin-bottom: 1em;
}

.description{
  flex: 1;
  width: 50%;
  margin-right: 3rem;
}

.tags{
  flex: 1;
  width: 50%;
  margin-left: 3rem;
}

.tags ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tags li{
  width: 100%;
}

/*.tags ul li a{
  padding-left: 1rem;
}*/

.grabber{
  /*position: relative;*/

  background: url('/public/grabber.svg') no-repeat 0 0;
  background-size: 43px 43px;
  height: 43px;
  width: 43px;
  cursor: move;
  margin-right: 1px;
  composes: noTextSelection from 'sharedStyles/styles.css';
}

.grabber:hover{
  background: url('/public/grabberHover.svg') no-repeat 0 0;

}

.buttonWrapper{
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #E0E0E0;
  padding-top: 2em;
}

.smallButtonWrapper{
  composes: noTextSelection from 'sharedStyles/styles.css';
  display: flex;
  align-items: center;
  width: 180px;
  height: 2.5rem;

}

.smallEdit{
  composes: noTextSelection from 'sharedStyles/styles.css';
  composes: brandPrimaryText from 'sharedStyles/color.css';
  width: 80px;
  cursor: pointer;
  text-align: center;
  outline: none;
}

.smallRemove{
  composes: noTextSelection from 'sharedStyles/styles.css';
  composes: warningText from 'sharedStyles/color.css';
  width: 80px;
  cursor: pointer;
  text-align: center;
  outline: none;

}

.smallRemoveInactive{
  composes: noTextSelection from 'sharedStyles/styles.css';
  width: 80px;
  cursor: default;
  color: #E0E0E0;
  text-align: center;
  outline: none;

}

.minorButtonWrapper{
  display: flex;
}

.addNewTagInput{
  box-sizing:border-box;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  padding: 10px;
  height: 2.5rem;
  width: 100%;
  outline: none;
  composes: h3 from 'sharedStyles/styles.css';
}

.saveNewTagButton{
  transition: .2s;
  font-size: 16px;
  font-weight: 600;

  height: 2.5rem;
  margin-left: 1em;
  width: 100px;

  border-radius: 5px;
  border: none;
  /*margin-top: .75em;*/

  composes: whiteText brandPrimaryBackground from 'sharedStyles/color.css';
  outline: none;
}

.saveNewTagButton:hover{
  outline: none;
  background-color: #2D2C3F;
  cursor: pointer;
  transition: .1s;
}

.remove{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  background-color: #5b5b82;
  border-radius: 5px;
  height: 2.5rem;
  width: 120px;
  margin-left: 1em;
}

.hiddenTagItem{
  display: none;
}

.tagItem{
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}


.tagListItemWrapper{
  height: 2.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  /*padding-left: 1em;*/
  background-color: white;
}

.tagListItemWrapperEditting{
  height: 2.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #5b5b82;
  border-radius: 5px;
}

.vRuleEditting{
  height: 2.6em;
  margin-left: 1px;
  margin-right: 1px;
  width: 1px;
  background-color: #5b5b82;
}

.vRule{
  height: 2.6em;
  margin-left: 1px;
  margin-right: 1px;
  width: 1px;
  background-color: #E0E0E0;
}

.noBorderInput{
  margin-right: auto;
  margin-left: 1em;
  box-sizing:border-box;
  border: none;
  composes: h3 from 'sharedStyles/styles.css';
  font-family: 'Open Sans',sans-serif;
}

.noBorderInput:focus{
  outline: none;
}

.tagName{
  margin-right: auto;
  margin-left: 1em;
  border: none;
  composes: h3 from 'sharedStyles/styles.css';
}

.removeCategoryWarning {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 100%;
  border-radius: 5px;
  height: 6rem;
  background-size: 30px 30px;
  background-image: linear-gradient(
    45deg,
    #EB7150     25%,
    #fff6f4       25%,
    #fff6f4       50%,
    #EB7150     50%,
    #EB7150     75%,
    #fff6f4        75%,
    #fff6f4
  );
}

@keyframes barberpoleWarn {
  from { background-position: 0 0; }
  to   { background-position: 60px 30px; }
}

.removeCategoryWarning {
  animation: barberpoleWarn 0.5s linear infinite;
}

.newTagWrapper{
}

.addNewTag:hover{
  cursor: pointer;
  opacity: .7;
}

.tagList{
  width: 100%;
  margin-top: .4em;
}

.itemLists {
  width: 100%;
}
