@keyframes loadIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.view {
  display: flex;
}

.filter{
  background-color: #f1f1f1;
  padding-left: 2em;
  padding-right: 1rem;
  min-width: 300px;
  width: 300px;
  max-width: 300px;
  animation-name: loadIn;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 0.1s;
  overflow: auto;
  height: 90vh;
}

.feed{
  overflow: auto;
  height: 90vh;
  width: 100%;
  padding-left: 2em;
  padding-right: 2rem;
  animation-name: loadIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.1s;
}

.feed h3{
  /*padding-top: 1rem;*/
}

.detailWrapper {
  display: flex;
  border: 1px solid #f1f1f1;
  overflow: hidden;
  border-radius: 10px;
  padding: 3rem;
}

.back{
  width: 60%;
  flex: 1;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.title{
}

.clear{
  cursor: pointer;
  color: #5b5b82;
  padding: 0px;
  margin: 0px;
  /*padding-bottom: 1rem;*/
  max-width: 60px;
}

.enter {
  opacity: 0.01;
}

.enterActive {
  transition: opacity 3s ease-in;
  opacity: 1;
}

.leave {
  opacity: 1;
}

.leaveActive {
  transition: opacity 3s ease-in;
  opacity: 0.01;
}

.appear {
  opacity: 0.01;
}

.appearActive {
  transition: opacity 3s ease-in;
  opacity: 1;
}
