.categoryWrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.open{
  height: auto;
}

.closed{
  height: 0px;
}

.tagWrapper ul{
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.tagView{
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: content;
}
