@keyframes loadIn {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.view {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
  margin-bottom: 3rem;
  animation-name: loadIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.1s;
}

.feedWrapper{
  width: 90%;
  max-width: 1200px;
}

.pageHeading{
  width: 100%;
  text-align: center;
  composes: h2 from 'sharedStyles/styles.css';
  margin: 1em;
}

.dashButtonWrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.subHeading{
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
}
